body{
    background-color: lightblue;
}

h3,h1{
    text-align: center;
}

.about img{
    margin-top: 10px;
    width: 25%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform:translate( -50% ,-50%);
    -webkit-transform:translate( -50% ,-50%);
    -moz-transform:translate( -50% ,-50%);
    -ms-transform:translate( -50% ,-50%);
    -o-transform:translate( -50% ,-50%);
}


.container{
    display: flex;
    justify-content: space-between;
}

.bagian-kiri{
    text-align: center;
    width: 500px;
    height: 500px;
    margin:20px auto;
}

.bagian-kiri img{
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}
.bagian-kanan{
    text-align: center;
    width: 500px;
    height: 500px;
    margin:20px auto;
}
.bagian-kanan img{
    margin-top: 3px;
    max-width: 100%;
    height: auto;
}

.img-social{
    text-align: center;
    /* width: 100px; */
}

.img-social img{
    padding: 0px 10px;
    max-width: 100%;
    height: 100px;
}
